<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>Sapoku &mdash; <%= app_name.capitalize %></title>
    <link rel="stylesheet" type="text/css" href="/screen.css">
  </head>
  <body>
    <div id="content">
      <img src="/ninja.png" alt="Ninja" />
      <p>
        HELLO. <strong>Sapoku</strong> is now ready for your application.<br />
        Push to your personal sapoku git repository to deploy.<br/><br/>
        Much love,<br/>
        The Sapoku team<br/>
        Codebits VI
      </p>
    </div>
  </body>
</html>
